/****************** TAG SELECTORS *********************/
/* - Very Pale Cyan: hsl(193, 100%, 96%)

- Very Dark Cyan: hsl(192, 100%, 9%)

- Grayish Blue: hsl(208, 11%, 55%) */
h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
}

header {
  background-image: url('.images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center center;
  background-color: hsl(193, 100%, 96%);
}
footer{
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 120px 10px 30px;
}
footer ul{
  padding: 0;
  list-style-type: none;
}
footer li{
  margin-bottom: 15px;
}
footer p{
  text-align: right;
  /* mobile center */
}

/****************** ID SELECTORS *********************/
#header .container-fluid {
  padding: 3% 7%;
  /* text-align: left; */
}

/****************** Class SELECTORS *******************/
/* header section */
.navbar {
  padding-bottom: 5rem;
}

.title-text {
  padding: 4% 3%;
}

.title-image {
  width: 100%;
}

.btn {
  border-radius: 55px;
  padding: 15px 60px;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.btn-started {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}

.btn:hover {
  box-shadow: none;
}

/* mid-section */
.card {
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 50px 70px;
  background-color: #fff;
}

.card-text {
  padding: 5%;
}

.card p {
  color: hsl(208, 11%, 55%);
  font-size: 16px;
}

.card img {
  width: 60%;
}

.center {
  text-align: center;
}

.small-card {
  display: inline-block;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}

/* footer section */
.cta-section{
  padding: 3% 2%;
}
.cta-items
{
  padding: 0 70px;
}
.circle{
  border: 1px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}


/* custom styleSheet footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media screen and (max-width: 991px) {

  footer p{
    text-align: center;
  }
  .card img{
    width: 100%;
  }
  .cta-items
  {
    padding: 2%;
  }
}
